{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<p>{{ introduction }}</p>
{% if meetup_embed_html %}
	{{ meetup_embed_html }}
{% endif %}

<h3>Scout Group Leader</h3>
<div style="margin-bottom: 30px; max-width: 600px" class="with-border">

<table class="table table-bordered small" style="max-width: 600px;">
	{% set doc = frappe.get_doc('Member',scout_group_head) %}
	<tr>
		<td style='width: 15%'>Name</td>
		<td><b>{{ doc.member_name }}<b></td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ frappe.db.get_value('User', doc.email, 'email') or '' }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>{{ frappe.db.get_value('User', doc.email, 'phone') or '' }}</td>
	</tr>
</table>
</div>

{% if address  %}
<h3>Address</h3>
<div style="margin-bottom: 30px; max-width: 600px" class="with-border">
<p>{{ address or ''}}</p>
</div>
{% endif %}

<p style="margin: 20px 0 30px;"><a href="/non_profit/join-scout_group?name={{ name }}" class='btn btn-primary'>Join this Scout Group</a></p>
<p style="margin: 20px 0 30px;"><a href="/non_profit/leave-scout_group?name={{ name }}" class=''>Leave this Scout Group</a></p>

{% endblock %}
