{% extends "templates/web.html" %}

{% block page_content %}

{% macro scout_group_button() %}
	<p><a href="/{{ scout_group.route }}" class='btn btn-primary'>
		Go to Scout Group Page</a></p>
{% endmacro %}
{% if frappe.session.user=='Guest' %}
	<p>Please signup and login to join this scout_group</p>
	<p><a href="/login?redirect-to=/{{ scout_group.route }}" class='btn btn-primary'>Login</a></p>
{% else %}
	{% if already_member %}
		<p>You are already a member of {{ scout_group.name }}!</p>
		{{ scout_group_button() }}
		<p><a href="">Leave Scout Group</a></p>
	{% else %}
		{% if request and request.method=='POST' %}
			<p>Welcome to scout_group {{ scout_group.name }}!</p>
			{{ scout_group_button() }}
		{% else %}
			<div style="padding: 20px 0;">
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<form name="user-intro" action="/non_profit/join-scout_group" method='POST'>
							<div class="form-group">
								<input name="name" class="hidden form-control" type="text"
									value="{{scout_group.name}}">
								<input name="csrf_token" class="hidden  form-control" type="text"
									value="{{frappe.session.csrf_token}}">
							</div>
							<div class="form-group">
								<label for="user" class="">User Name</label>
								<input name="user" class="form-control" type="text" value="{{ frappe.session.user }}">
							</div>
							<div class="form-group">
								<label for="website_url" class="">Website URL</label>
								<input name="website_url" required class="form-control" type="text"
									placeholder="https://example.com" />
							</div>
							<div class="form-group">
								<label for="introduction" class="">Introduction</label>
								<textarea name="introduction" required class="form-control"
									placeholder="Your profession and how you are associated with ERPNext"></textarea>
							</div>
							<div class="form-group">
								<button type="Submit" id="update_member" class="btn btn-primary">
									Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

{% endif %}

{% endblock %}
